<include file="Public:header"/>
<div class="row-fluid">	
	<div class="tab-pane ">
		<div id="top-alert" class="fixed alert alert-error" style="display: none;">
			<button class="close fixed" style="margin-top: 4px;">&times;</button>
			<div class="alert-content">警告内容</div>
		</div>
		<div id="main" class="main">
			<div class="portlet box blue">
				<div class="portlet-title">
					<div class="caption"><i class="icon-reorder"></i>清理缓存</div>
					<div class="tools">
						<a href="javascript:;" class="collapse"></a>
					</div>
				</div>
				<div class="portlet-body form">
					<div class="form-horizontal form-view">
						<h3 class="form-section">系统信息</h3>
						<div class="row-fluid">
							<div class="span6 ">
								<div class="control-group">
									<label class="control-label" for="firstName">当前缓存数据大小为:</label>
									<div class="controls">
										<span class="text">{$cacheSize}&nbsp;KB</span>
									</div>
								</div>
							</div>
							<div class="span6 ">
								<div class="control-group">
									<div class="controls" id="loader">
									</div>
								</div>
							</div>
						</div>
						<button type="submit" class="btn blue" onclick="animateFunc();"><i class="icon-trash"></i>&nbsp;&nbsp;清理</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.percentageloader-0.1.min.js"></script>
<script type="text/javascript">
	var $loader;
	var totalKb = '{$cacheSize}';
	var kb = 0;
	var clearCacheFlag = 0;
	$loader = $("#loader").percentageLoader({
		width : 200,
		height : 200,
		progress : 0
	});
	function animateFunc()
	{
		kb += 17;
		if(kb > totalKb){
			kb = totalKb;
		}
		$loader.setProgress(kb / totalKb);
		$loader.setValue(kb.toString() + 'kb');
		if((kb / totalKb) > 0.98 && clearCacheFlag == 0){
			clearCacheFlag = 1;
			clearCache();
		}
		if(kb / totalKb){
			setTimeout(animateFunc,25);
		}
	}
	function clearCache()
	{
		$.get("{:U('Tools/delcache')}").success(function(data){
			if(data.status == 1){
				if(data.url){
					updateAlert(data.info + '页即将自动跳转~','alert-success');
				}else{
					updateAlert(data.info + '页即将自动跳转~','alert-success');
				}
				setTimeout(function(){
					if(data.url){
						location.href = data.url;
					}else if($(this).hasClass('no-refresh')){
						$('#top-alert').find('button').click();
					}else{
						location.reload();
					}
				},1500);
			}else{
				updateAlert(data.info);
				setTimeout(function(){
					if(data.url){
						location.href = data.url;
					}else{
						$('#top-alert').find('button').click();
					}
				},1500);
			}
		});
	}
</script>
<include file="Public:footer"/>