<include file="Public:header"/>
<div class="row-fluid">
	<div class="span12">
		<div id="top-alert" class="fixed alert alert-error" style="display: none;">
			<button class="close fixed" style="margin-top: 4px;">&times;</button>
			<div class="alert-content">警告内容</div>
		</div>
		<div id="main" class="main">
			<div class="portlet box blue">
				<div class="portlet-title">
					<a href="{:U('Article/links')}" style="color:white;">
						<div class="caption"><i class="icon-reorder"></i>友情链接管理</div>
					</a>
					<div class="caption">
						<empty name="data">
							&nbsp;&nbsp;友情链接添加
						<else/>
							&nbsp;&nbsp;友情链接编辑
						</empty>
					</div>
					<div class="tools">
						<a href="javascript:;" class="collapse"></a>
					</div>
				</div>
				<div class="portlet-body form">
					<form action="{:U('Article/linksEdit')}" method ="POST" id="form" class="form-horizontal">
						<empty name="data.id">
						<else/>
							<div class="control-group">
								<label class="control-label">友情链接的ID</label>
								<div class="controls">
									<input class="span6 m-wrap" type="text" name="id" value="{$data.id}" disabled />
									<span class="help-inline" style="color:red;">*&nbsp;ID不可以进行更改.</span>
								</div>
							</div>
						</empty>
						<div class="control-group">
							<label class="control-label">链接名称：</label>
							<div class="controls">
								<input type="text" name="name" value="{$data.name}" class="span6 m-wrap popovers" data-trigger="hover" data-content="*&nbsp;对链接的介绍."/>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">链接标题：</label>
							<div class="controls">
								<input type="text" name="title" value="{$data.title}" class="span6 m-wrap popovers" data-trigger="hover" data-content="*&nbsp;一般显示在前台中."/>
							</div>
						</div>

						<div class="control-group">
							<label class="control-label">链接地址：</label>
							<div class="controls">
								<input type="text" name="url" value="{$data.url}" class="span6 m-wrap popovers" data-trigger="hover" data-content="*&nbsp;链接的URL地址."/>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">添加时间：</label>
							<div class="controls">
								<input name="addtime" type="text" value="{$data['addtime']|addtime}" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"  class="span6 m-wrap popovers" data-trigger="hover" data-content="*&nbsp;往数据表中添加数据显示的时间."/>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">编辑时间：</label>
							<div class="controls">
								<input name="endtime" type="text" value="{$data['endtime']|addtime}" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"  class="span6 m-wrap popovers" data-trigger="hover" data-content="*&nbsp;对已有的数据进行修改的时间."/>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">排序：</label>
							<div class="controls">
								<input type="text" name="sort" value="{$data.sort}" class="span6 m-wrap popovers" data-trigger="hover" data-content="*&nbsp;不同的值在前台页面中显示不同的位置."/>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">状态：</label>
							<div class="controls">
								<select name="status" class="span6  m-wrap popovers" data-placeholder="Choose a Category" data-trigger="hover" data-content="*&nbsp;不同的状态值代表不同的操作.">
									<option value="1" <eq name="data.status" value="1">selected</eq>>正常</option>
									<option value="0" <eq name="data.status" value="0">selected</eq>>冻结</option>
								</select>
							</div>
						</div>
						<div class="form-actions">
							<button type="submit" id="submit" class="btn blue ajax-post" target-form="form-horizontal">确认</button>
							<a class="btn-return" href="{$Think.server.HTTP_REFERER}"><button type="button" class="btn">取消</button></a>
							<notempty name="data.id"><input type="hidden" name="id" value="{$data.id}"/></notempty>                            
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	//执行提交表单的操作
	$('#submit').click(function(){
		$('#form').submit();
	});
</script>
<include file="Public:footer"/>