<include file="Public:header"/>
<div class="row-fluid">
	<div class="span12">
		<div id="top-alert" class="fixed alert alert-error" style="display: none;">
			<button class="close fixed" style="margin-top: 4px;">&times;</button>
			<div class="alert-content">警告内容</div>
		</div>
		<div id="main" class="main">
			<div class="portlet box blue">
				<div class="portlet-title">
					<a href="{:U('User/admin')}" style="color:white;">
						<div class="caption"><i class="icon-reorder"></i>管理员管理</div>
					</a>
					<div class="caption">
						<empty name="data">
							&nbsp;&nbsp;管理员添加
						<else/>
							&nbsp;&nbsp;管理员编辑
						</empty>
					</div>
					<div class="tools">
						<a href="javascript:;" class="collapse"></a>
					</div>
				</div>
				<div class="portlet-body form">
					<form action="{:U('User/adminEdit')}" method ="POST" id="form" class="form-horizontal">
						<empty name="data.id">
						<else/>
							<div class="control-group">
								<label class="control-label">管理员的ID</label>
								<div class="controls">
									<input class="span6 m-wrap" type="text" name="id" value="{$data.id}" disabled />
									<span class="help-inline" style="color:red;">*&nbsp;ID不可以进行更改.</span>
								</div>
							</div>
						</empty>
						<div class="control-group">
							<label class="control-label">用户名：</label>
							<div class="controls">
								<input type="text" name="username" value="{$data.username}" class="span6 m-wrap popovers" data-trigger="hover" data-content="*&nbsp;用户名的格式要符合规则(不能小于6位)."/>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">昵称：</label>
							<div class="controls">
								<input type="text" name="nickname" value="{$data.nickname}" class="span6 m-wrap popovers" data-trigger="hover" data-content="*&nbsp;用户名的昵称一般为真实姓名."/>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">登录密码：</label>
							<div class="controls">
								<input type="password" name="password"  class="span6 m-wrap popovers" data-trigger="hover" data-content="*&nbsp;登录密码要符合规则,并且清空."/>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">手机号：</label>
							<div class="controls">
								<input type="text" name="mobile" value="{$data.mobile}" class="span6 m-wrap popovers" data-trigger="hover" data-content="*&nbsp;手机号的格式要符合规则."/>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">邮箱：</label>
							<div class="controls">
								<input type="email" name="email" value="{$data.email}" class="span6 m-wrap popovers" data-trigger="hover" data-content="*&nbsp;邮箱的格式要符合规则."/>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">状态：</label>
							<div class="controls">
								<select name="status" class="span6  m-wrap popovers" data-placeholder="Choose a Category" data-trigger="hover" data-content="*&nbsp;不同的状态值代表不同的操作.">
									<option value="1" <eq name="data.status" value="1">selected</eq>>正常</option>
									<option value="0" <eq name="data.status" value="0">selected</eq>>冻结</option>
								</select>
							</div>
						</div>
						<div class="form-actions">
							<button type="submit" id="submit" class="btn blue ajax-post" target-form="form-horizontal">确认</button>
							<a class="btn-return" href="{$Think.server.HTTP_REFERER}"><button type="button" class="btn">取消</button></a>
							<notempty name="data.id"><input type="hidden" name="id" value="{$data.id}"/></notempty>                            
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	//执行提交表单的操作
	$('#submit').click(function(){
		$('#form').submit();
	});
</script>
<include file="Public:footer"/>